* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
}

.cflex {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.wfull {
    width: 100%;
}

.hfull {
    height: 100%;
}
