* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
}

.center-main{
    justify-content: center;
}

.center-align{
    align-items: center;
}

.c-flex {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.block{
    display: block;
}

.text{
    user-select: none;
    cursor: pointer;
}

/* Review */

.bk-correct {
    background-color: #b3e19d;
    transition: background-color 1s ease;
}

.bk-wrong {
    background-color: #fab6b6;
    transition: background-color 1s ease;
}

/* WordBook */
.el-card__body {
    width: 100%;
}