* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
}

.center{
    justify-content: center;
}

.c-flex {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.block{
    display: block;
}

.text{
    user-select: none;
    cursor: pointer;
}